.button {
  margin: 20px;
  background-color: red;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #e2e2e2;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }

}
.primary {
  background-color: blue;
}
.secondary {
  background-color: pink;
  border-color: #26daba;
  color: #26daba;
}
